{{#if product}}

<div class="mt-3 mb-3">
    <div class="row mb-3">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img src="{{product.image}}" alt="" class="imageDetailProduct w-100">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="nameDetailProduct">{{product.name}}</div>
            <div class="">{{product.description}}</div>
            <div class="">Số lượng: {{product.quantity}}</div>
            <div class="">Đã bán: {{product.sold}}</div>
            <div class=""><span>Giá sản phẩm: </span><span class="number">{{product.cost}}</span></div>
        </div>
    </div>
</div>
{{else}}
<h3 class="mt-3 mb-3" style="text-align: center; color:rgb(194, 174, 230);">Sản phẩm không tồn tại!</h3>
{{/if}}
