<div class="mt-3 mb-3">
    <form action="/customer/orderNowCustomer/{{product.slug}}" method="post" onsubmit="return order()">
        <div class="" style="background-color: white; padding:10px;">
            <div class="">
                <div class="" style="border-bottom: 2px solid grey; padding-bottom: 5px;">
                    <div class="d-flex justify-content-between" style="margin: 5px;">

                        <div class="">
                            <img src="{{product.image}}" alt="" style="width: 50px; height: 60px;">
                            {{product.name}}
                        </div>
                        <div>
                            Giá 1 sản phẩm: <span class="number" style="font-weight: bold;"
                                id="costProduct">{{product.cost}}</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between" style="margin: 5px;">
                        <div>
                            Kho hàng: <span id="quantity{{product.slug}}">{{product.quantity}}</span>
                        </div>
                        <div>
                            Số lượng: <input type="text" name="quantityBuy" style="width: 50px; text-align: center;"
                                id="quantityBuyNow" onchange="changeQuantity(this.value,{{product.quantity}},{{product.cost}})">
                        </div>
                    </div>
                </div>
            </div>
            <div class="" style="text-align: center; font-size: 30px; color:rgb(194, 174, 230)">
                Tổng tiền: <span class="number" id="totalCart"></span>
            </div>

            <div class="">
                <div class="">
                    Vui lòng iền đầy đủ thông tin trước khi đặt hàng!
                </div>
                <div class="">
                    <input type="text" name="name" id="name" placeholder="Họ và tên" style="display: block;"
                        class="mt-1 mb-1 w-xl-35 w-lg-35 w-md-50 w-sm-100 w-xs-100" value="{{profile.name}}">
                    <div id="warningName" style="display: none; color:red;"></div>
                    <input type="text" name="phone" id="phoneNumber" placeholder="Số điện thoại" style="display: block;"
                        class="mt-1 mb-1 w-xl-35 w-lg-35 w-md-50 w-sm-100 w-xs-100" value="{{profile.phone}}">
                    <div id="warningPhoneNumber" style="display: none; color:red;"></div>
                    <textarea type="text" name="address" id="address" placeholder="Địa chỉ" style="display: block;"
                        class="mt-1 mb-1 w-xl-35 w-lg-35 w-md-50 w-sm-100 w-xs-100"
                        rows="3">{{profile.address}}</textarea>
                    <div id="warningAddress" style="display: none; color:red;"></div>
                    <textarea type="text" name="note" placeholder="Ghi chú" style="display: block;"
                        class="mt-1 mb-1 w-xl-35 w-lg-35 w-md-50 w-sm-100 w-xs-100" rows="3"></textarea>
                    <button type="submit" class="btn-primary mt-1 mb-1 w-xl-35 w-lg-35 w-md-50 w-sm-100 w-xs-100"
                        style="display: block;">Đặt hàng</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>

    window.onload = function () {
        changeNumber();
    };

    function changeNumber() {
        var numberChange = document.getElementsByClassName("number");
        for (x = 0; x < numberChange.length; x++) {
            var cost = parseInt(numberChange[x].innerHTML)

            const change = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
            })
            numberChange[x].innerHTML = change.format(cost)
        }
    };
    /*change text*/
    var ssQuantity = sessionStorage.getItem('quantityBuy');
    if (!ssQuantity) {
        sessionStorage.setItem('quantityBuy', 1);
    }
    document.getElementById('quantityBuyNow').value = sessionStorage.getItem('quantityBuy');
    var cost = document.getElementById('costProduct').innerText;
    document.getElementById('totalCart').innerHTML = parseInt(cost) * sessionStorage.getItem('quantityBuy');


    function changeQuantity(value, quantity,cost) {
        var quantityBuyOld = sessionStorage.getItem('quantityBuy');
        var quantity_reg = /^[1-9][0-9]{0,10000}$/;
        if (quantity_reg.test(value)) {
            var quantityBuy = parseInt(value);
            if (quantityBuy > quantity) {
                document.getElementById('quantityBuyNow').value = quantityBuyOld;
                Swal.fire({
                    icon: 'error',
                    title: 'Số lượng bạn yêu cầu vượt quá kho hàng hiện có!',
                    text: 'Vui lòng kiểm tra số lượng sản phẩm hiện có!',
                    footer: '<a href="">Tại sao tôi lại gặp lỗi này?</a>'
                });
            }
            else {
                sessionStorage.setItem('quantityBuy',quantityBuy);
                const change = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND',
                })
                document.getElementById('totalCart').innerHTML = change.format(cost * quantityBuy);
            }
        }
        else {
            document.getElementById('quantityBuyNow').value = quantityBuyOld;
            Swal.fire({
                icon: 'error',
                title: 'Bạn nhập vào không đúng định dạng',
                text: 'Trường này phải là 1 số và khác 0!',
                footer: '<a href="">Tại sao tôi lại gặp lỗi này?</a>'
            });
        }
    }

    function order() {
        var check = true;
        if (document.getElementById('name').value == '') {
            check = false;
            document.getElementById('warningName').innerHTML = "Vui lòng điền vào họ và tên!";
            document.getElementById('warningName').style.display = "block";
        }
        else {
            document.getElementById('warningName').style.display = "none";
        }

        if (document.getElementById('phoneNumber').value == '') {
            check = false;
            document.getElementById('warningPhoneNumber').innerHTML = "Vui lòng điền vào số điện thoại!";
            document.getElementById('warningPhoneNumber').style.display = "block";
        }
        else {
            document.getElementById('warningPhoneNumber').style.display = "none";
        }
        if (document.getElementById('address').value == '') {
            check = false;
            document.getElementById('warningAddress').innerHTML = "Vui lòng điền vào địa chỉ!";
            document.getElementById('warningAddress').style.display = "block";
        }
        else {
            document.getElementById('warningAddress').style.display = "none";
        }

        return check;
    }
</script>